.brandTitle {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.capitalize {
  text-transform: capitalize;
}

.landingGridContainer {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.imageWrapper {
  position: relative;
  overflow: hidden;
}

.imageObjectCover {
  object-fit: cover;
}

.imageOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}

.carListSection {
  padding: 4rem 1rem;
  margin: 0px 4rem;
}

.carListTitle {
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.carGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}

.metallicfrostedbg {
  position: absolute;
  background-color: rgba(60, 60, 60, 0.5);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1),
    0 4px 12px rgba(0, 0, 0, 0.5);
}

.logoImage {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  transition: all 0.3s ease;
}

.logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
