@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --link-hover-color: #ea580c;
  --text-primary: #09090b;
  --text-hover: #f59e0b;
  --primary-orange: #f97316;
  --primary-orange-light: #f9741625;

  --menu-color: #374151;
  --text-gray: #4b5563;
}

.navbar-theme {
  background-color: var(--navbar-bg-color);

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.navbar-wrapper {
  max-width: 1280px;
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.navbar-link-item {
  color: #d1d5db;
  transition: color 150ms ease-in-out;
}

.navbar-link-item:hover {
  color: var(--link-hover-color);
}

@media (min-width: 1024px) {
  .navbar-wrapper {
    padding: 1.25rem 2rem;
  }

  .navbar-links-group {
    gap: 1.75rem;
  }
}
body {
  font-family: Inter, Inter Fallback;
  font-style: normal;
  margin: 0;
  padding: 0;
}
